<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{HTTP_HOST} ^www.(.+)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    RewriteCond %{THE_REQUEST} /index\.php [NC]
    RewriteRule (.*)index.php$ /$1 [R=301,L]

    RedirectMatch 301 "^/pl$" "/"
</IfModule>
